{% extends "base.html.twig" %}
{% block title %}LLista destinataris{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
        {#$(document).ready(function() {#}
        {#$("#eliminar").mousedown(function () {#}
        {#var checkstr =  confirm('are you sure you want to delete this?');#}
        {#if(checkstr == true){#}
        {#{{ path('destinatari_delete', {  'id':destinatari.id }) }}#}
        {#}else{#}
        {#return false;#}
        {#}#}
        {#});#}
        {#});#}

    </script>
{% endblock %}
    {% block page_content %}
        <!-- Page Content -->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">Llista destinataris.</h4><br>
                    <a href="{{ path('destinatari_add') }}">Afegir destinatari</a>
                </div>
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th><i class="glyphicon glyphicon-user"></i>Nom</th>
                            <th><i class="glyphicon glyphicon-envelope"></i>email</th>
                            {% if is_granted('ROLE_ADMIN') %}
                                <th><i class="glyphicon glyphicon-wrench"></i>accions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for destinatari in destinataris %}
                            <tr>
                                <td>
                                    <a href="{{ path('destinatari_show', {  'id':destinatari.id }) }}">{{ destinatari.nom }}</a>
                                </td>

                                <td><a href="{{ path('destinatari_show', {  'id':destinatari.id }) }}">
                                        {{ destinatari.email }}</a>
                                </td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <a href="{{ path('destinatari_edit', { 'id': destinatari.id }) }} "><span
                                                    class="glyphicon glyphicon-pencil"></span>editar</a><br>
                                        <a href="{{ path('destinatari_delete', { 'id':destinatari.id }) }}" onclick="
return confirm('¿Estas segur que vols eliminar el destinatari?')"><span
                                                    class="glyphicon glyphicon-trash" id="eliminar"></span>eliminar</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.container -->
    {% endblock %}
