{% extends "base.html.twig" %}
{% block title %}New Destinatari{% endblock %}
    {% block page_content %}
        <!-- Page Content -->
        <div class="col-md-6 col-lg-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nou destinatari.</h3><br>
                    <a href="{{ path('destinatari_index') }}">Tornar a llistat</a>
                </div>
                {{ form_start(form,{'attr': {'role': 'form'}}) }}
                {{ form_errors(form) }}
                <div class="box-body">
                    <div class="form-group ">
                        <i class="glyphicon glyphicon-user"></i>
                        {{ form_label(form.nom) }}
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group ">
                        <i class="glyphicon glyphicon-envelope"></i>
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" type="submit">Afegir destinatari</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <!-- /.container -->
    {% endblock %}
